body   {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-family: 'Cutive Mono', 'Prompt', monospace, sans-serif;
  color: #303030;
  background-color: #ecebf0;
}

.menuBg {
  margin-top: -30px;
  padding: 10px;
  background-color: #303030;
}

.menu {
  color: #ffffff;
  text-decoration: none;
}

.menu:hover {
  color: #ffffff;
  text-decoration: underline;
}

.collection1Bg{
  padding: 10px;
}

.specialBg {
  background-color: #3c160d;
  color: #ffffff;
  padding: 20px 0px 20px 0px;
}

.contactBg {
  background-color: #7e6e45;
  color: #ffffff;
  padding: 20px 0px 20px 0px;
}

.copyright {
  background-color: #ecebf0;
  color: #303030;
  padding-top: 10px;
}
