body   {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-family: 'Cutive Mono', 'Prompt', monospace, sans-serif;
  color: #303030;
  background-color: #ecebf0;
}

.navigation-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuBg {
  margin-top: -30px;
  padding: 10px;
  background-color: #303030;
}

.menu {
  color: #ffffff;
  text-decoration: none;
}
